body {
    font-family: "Avenir Next";
    background-color: #f2f2ee;
    height: auto;
    
    
}

li{
    list-style: none;
}

.header{
    background-color: #54a1d9;
    color: #f1deb5;
    height: 90px
}

.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    font-family:fantasy;
    
}

.header-list li{
    float: left;
    padding: 30px 40px;
}

.contents-title{
    font-size: 60px;
    font-family: fantasy;
    padding: 0px 80px;
    color: #50aa88;
    
}

.container-logo{
    background-image: url(images/welcome3.png);
    background-repeat: no-repeat;
    height: 801px;
    width: 1424px;
    float:inherit;
    
}

.contents-logo{
    float: left;
    padding-left: 100px;
    
}

.contents-logo p{
    padding-left: 65px;
    font-size: 36px;
    font-family:fantasy;
    color: #50aa88;
    border-bottom: 4px solid #54a1d9;
    
}

.form-logo{
    clear:both;
    font-size: 60px;
    padding: 30px 80px;
    font-family: fantasy;
    color: #50aa88;
}

.contact-form p{
    margin-left:50px;
    margin-top: 30px;
    font-size: 26px;
    color:#525242
}

input{
    padding: 10px 150px;
    margin: 10px 50px;
}

textarea{
    margin: 10px 50px;
    padding: 50px 150px;
    
}

.contact-form span{
    color:#b95d52;
}

.contact-submit{
    color: #54a1d9;
    
}