body {
    font-family: "Avenir Next";
    background-color: #f2f2ee
}

li{
    list-style: none
}

.header{
    background-color: #54a1d9;
    color: #f1deb5;
    height: 90px
}

.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    font-family:fantasy 
    
}

.header-list li{
    float: left;
    padding: 30px 40px;
}

.contents-title{
    font-size: 50px;
    font-family: fantasy;
    padding: 0px 80px;
    color: #50aa88;
    border-bottom: 5px solid #54a1d9;
    border-top: 5px solid #54a1d9;
    
}

.container-logo{
    background-image: url(images/welcome3.png);
    background-repeat: no-repeat;
    height: 801px;
    width: 1424px;
    float:inherit;
    
}

.contents-logo{
    float: left;
    padding: 20px 90px;
    
}

.contents-logo p{
    padding: 20px 70px;
    font-size: 36px;
    font-family:fantasy;
    color: #50aa88;
    border-bottom: 4px solid #54a1d9;
    
}